body{
    background-color:white;
    color:black;
    font-family: "bai jamjuree", sans-serif;
    display: flex;
    justify-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(43, 226, 186);
    color:rgb(23, 145, 19);
    font-family: "bai jamjuree", sans-serif;
}